.page__header {
  max-width: 1184px;
  margin: 28px auto 56px;
  /* outline: 1px red solid; */
}

@media screen and (max-width: 1279px) and (min-width: 1023px) {
  .page__header {
    margin: 28px auto 48px;
  }
}

@media screen and (max-width: 767px) {
  .page__header {
    margin: 16px auto 48px;
  }
}
