.footer__links {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  /* outline: 1px red solid; */
}

@media screen and (max-width: 600px) {
  .footer__links {
    flex-direction: column; 
  }
}
