.intro__text{
  max-width: 690px;
  margin: 0;
  padding-top: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.63;
  color: #FFFFFF;
  /* outline: 1px red solid; */
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 100%;  
  }
}