.page__section {
  margin: 0 auto 92px;
  /* margin-bottom: 92px; */
  /* outline: 1px red solid; */
}

@media screen and (min-width: 1023px) {
  .page__section {
    margin: 0 auto 88px;
    /* margin-bottom: 88px; */
  }
}

@media screen and (max-width: 767px) {
  .page__section {
    margin: 0 auto 64px;
    /* margin-bottom: 64px; */
  }
}