.footer {  
  max-width: 1184px;
  width: calc(100% - 96px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  /* outline: 1px red solid; */
}

/* отступы у блока по 48px на разрешении 1024, как и у 1280... */

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}
  
@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 16px);
  }
}

