.footer__list-item {
  margin-right: 18px;
  /* outline: 1px red solid; */
}

.footer__list-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .footer__list-item {
    margin-bottom: 32px;
  }
}